$colorbg:rgb(103, 99, 99);
$colorp:black;
$fontSize:70px;
$fontSize2: $fontSize - 30;
$fontSize3: $fontSize - 40;
$fontSize4: $fontSize - 10;
$width: 750px;
$width1: $width - 350;
  

  body {
    background-color:$colorbg;
    position:relative;
  }
  body::before {
    content: "";
    background-image: url(../assets/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.80;
  }
  .encabezado{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: relative;
    
  }
  h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgba(245, 245, 245, 0.543);
    font-size: $fontSize;
    margin-right:700px;
    animation-name: entradaTitulo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration:2s;
    animation-delay: 0s;
  }
  @keyframes entradaTitulo{
    0%{ 
      opacity: 0;  
    }
    100%{
      opacity: 1;
    } 
  }
  .encabezadoLogo{
    width: 100px;
    height: 100px;
    margin-top:0;
  }

  
  .inicio{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:50px;
  }
 
  .ubicacion{
    width: $width1;
    height: $width1;
    position:relative;
  }

  footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, black , grey );
    border: 15px solid rgba(238, 232, 170, 0.377);
    margin-bottom:none;
    position:relative;
  }
  .zocaloLogo{
    height: 70px;
    width: 70px;
    margin-left:50px;
  }
  i {
    font-size: 2rem;
    color:(white);
    margin:0,2rem;
  }
  .tienda{
    position:relative;
    display: flex;
    flex-direction: row;
  }
  .table{
    background-color: whitesmoke;
  }
  .formulario{
    color:whitesmoke;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin: {
        left:10px;
        right:10px;
    }
    position:relative;
  }
  .redcolor {
    color: red;
  }
  .formulario__.botones {
    display:inline-block;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .paraTransicion:hover{
    transition: 2s;
    font-size: 2rem;
  }
  h5{
    color:black;
    background-color: white;
  }
  @mixin fontStyle ($color){
    color:$colorp;
    background-color: $color;
  }
  h2{
    @include fontStyle(rgba(128, 128, 128, 0.652));
    color:whitesmoke;
  }
  p{
    @include fontStyle (black) ;
    background-attachment: fixed;
    color:whitesmoke;

  }
  h4{
    @include fontStyle(grey);
  }
  .fondoTorneos{
    position:relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-right: 25%;
  }
  h3{
    color: whitesmoke;
    position:relative;
    font-size: 60px;
  }
  .card-text{
    color:whitesmoke;
    background-attachment: fixed;
  }
  .nuestrasSedes{
    position:relative;
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns:100%;
    margin-left: 25%;
    margin-right: 25%;
    

  }
  .nosotros{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media only screen and (min-width: 401px) and (max-width: 768px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
    }
    .videoInicio{
      width: 350px;
      height:350px;
    }
    .ubicacion{
      width: 150px;
      height: 100px;
      margin-left:50%;
      margin-right:50%;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .tienda{
      flex-direction: column;
      justify-content: center;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:$fontSize2;
      margin-right:25%;
      margin-left:25%;
    }
    img{
      width: 350px;
      height: 300px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }  
    h5{
      font-size:15px;
    } 
    p{
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 400px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
    }
    .videoInicio{
      width: 300px;
      height:250px;
    }
    .ubicacion{
      width: 100px;
      height: 80px;
      margin-left:50%;
      margin-right:50%;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:$fontSize3;
      margin-right:25%;
      margin-left:25%;
    }
    img{
      width: 200px;
      height: 200px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }  
    h5{
      font-size:15px;
    } 
    p{
      font-size: 10px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
    }
    .videoInicio{
      width: 550px;
      height:400px;
    }
    .ubicacion{
      width: 150px;
      height: 100px;
      margin-left:50%;
      margin-right:50%;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:60px;
      margin-right:25%;
      margin-left:25%;
    }
    img{
      width: 450px;
      height: 450px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }  
    h5{
      font-size:20px;
    } 
    p{
      font-size: 15px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
    }
    .videoInicio{
      width: 750px;
      height:600px;
    }
    .ubicacion{
      width: 250px;
      height: 200px;
      margin-left:50%;
      margin-right:50%;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:$fontSize4;
      margin-right:25%;
      margin-left:25%;
    }
    img{
      width: 550px;
      height: 550px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }
    h5{
      font-size:25px;
    } 
    p{
      font-size: 20px;
    }
  }