* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: grey;
  position: relative;
}

body::before {
  content: "";
  background-image: url(../assets/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.80;
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(245, 245, 245, 0.543);
  font-size: 70px;
  margin-right: 700px;
  -webkit-animation-name: entradaTitulo;
          animation-name: entradaTitulo;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes entradaTitulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes entradaTitulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.encabezadoLogo {
  width: 100px;
  height: 100px;
  margin-top: 0;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px;
}

.ubicacion {
  width: 400px;
  height: 400px;
  position: relative;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 10px solid grey;
  margin-bottom: none;
}

.zocaloLogo {
  position: relative;
  height: 70px;
  width: 70px;
  margin-left: 50px;
}

i {
  font-size: 2rem;
  color: white;
  margin: 0,2rem;
}

.tienda {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.table {
  background-color: whitesmoke;
}

.formulario {
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.redcolor {
  color: red;
}

.formulario__.botones {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paraTransicion:hover {
  position: relative;
  -webkit-transition: 2s;
  transition: 2s;
  font-size: 2rem;
}

h5 {
  color: black;
  background-color: white;
}

h2 {
  color: black;
  background-color: rgba(128, 128, 128, 0.652);
  color: whitesmoke;
}

p {
  color: black;
  background-color: black;
  background-attachment: fixed;
  color: whitesmoke;
}

h4 {
  color: black;
  background-color: grey;
}

.fondoTorneos {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-left: 25%;
  margin-right: 25%;
}

h3 {
  color: whitesmoke;
  position: relative;
  font-size: 60px;
}

.card-text {
  color: whitesmoke;
  background-attachment: fixed;
}

.nuestrasSedes {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 401px) and (max-width: 768px) {
  .inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  .ubicacion {
    width: 150px;
    height: 100px;
    margin-left: 50%;
    margin-right: 50%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .tienda {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1 {
    font-size: 40px;
    margin-right: 25%;
    margin-left: 25%;
  }
  img {
    width: 350px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .zocaloLogo {
    height: 70px;
    width: 70px;
    margin-left: 50px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  .ubicacion {
    width: 100px;
    height: 80px;
    margin-left: 50%;
    margin-right: 50%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1 {
    font-size: 30px;
    margin-right: 25%;
    margin-left: 25%;
  }
  img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .zocaloLogo {
    height: 70px;
    width: 70px;
    margin-left: 50px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  .ubicacion {
    width: 150px;
    height: 100px;
    margin-left: 50%;
    margin-right: 50%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1 {
    font-size: 60px;
    margin-right: 25%;
    margin-left: 25%;
  }
  img {
    width: 450px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .zocaloLogo {
    height: 70px;
    width: 70px;
    margin-left: 50px;
  }
  h5 {
    font-size: 35px;
  }
  p {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  .ubicacion {
    width: 250px;
    height: 200px;
    margin-left: 50%;
    margin-right: 50%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1 {
    font-size: 60px;
    margin-right: 25%;
    margin-left: 25%;
  }
  img {
    width: 550px;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .zocaloLogo {
    height: 70px;
    width: 70px;
    margin-left: 50px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */